h1{

    color: #34ebe8;
}

body{

    background-color: hsl(153°, 67%, 49%);
}
div{
    background-color: rgb(235, 52, 100);
    height: 300px;
    width: 800px;
    border: black 4px solid;
}









