@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Pushster&family=Rock+3D&family=Yuji+Hentaigana+Akebono&display=swap');
h1{
    font-family: 'Rock 3D', cursive;
}
p{
    font-family: 'Yuji Hentaigana Akebono', cursive;
    font-size: larger;
}